# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
tmp/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Log stuff:
*.log

# Sphinx documentation
docs/_build/

# Ignore arcanist config
.arcconfig

# Ignore waf files
.waf*
.*waf*

# Ignore external and build directories
external/
build/

# Fasta / fastq files
*.fa
*.fastq
*.fq

# alignment files
*.sam
*.bam
*.bai
*.blast
*.blastout
*.mgb

*.csv
*.png
*.npy
*.db
*.out
